<% content_for :title, "New DemoFeature Item" %>

<div class="demo_feature-new">
  <div class="header-section">
    <h1 class="text-2xl font-bold text-gray-900">New DemoFeature Item</h1>
  </div>

  <div class="content-section mt-6">
    <div class="card">
      <%= render 'form', demo_feature_item: @demo_feature_item %>
    </div>
  </div>
</div>
