<% content_for :title, "New TestFeature Item" %>

<div class="test_feature-new">
  <div class="header-section">
    <h1 class="text-2xl font-bold text-gray-900">New TestFeature Item</h1>
  </div>

  <div class="content-section mt-6">
    <div class="card">
      <%= render 'form', test_feature_item: @test_feature_item %>
    </div>
  </div>
</div>
